/* .font-koulen{

    font-family: 'Koulen', cursive;
}

.font-barlow{

    font-family: 'Barlow', sans-serif;
    ;
} */

#root {
    margin-bottom: 300px;
}


/* listado */

#listado {
    position: relative;
    margin-bottom: 200px;

}

/* .favourite-btn {
    width: 30px;
    height: 30px;
    background-color: blue ;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;

} */

/* resultados */

#resultados {
    position: relative;
    margin-bottom: 200px;
}

.trending-tittle {
    padding: 100px 100px;
    background-image: linear-gradient(135deg, #7989fb 0, #486ee5 50%, #0054cf 100%);
    
}

.trending-tittle h1 {
    font-size: 45px;
}

.buscaste-tittle {
    background-image: linear-gradient(135deg, #7989fb 0, #486ee5 50%, #0054cf 100%);
    padding: 30px  30px;
}